# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [86]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy = jeopardy.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
print(jeopardy.columns)
print(jeopardy.head(5))

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [87]:
def filter_data(data, word_list):
    return data.loc[data["Question"].apply(lambda x: all(word in x for word in word_list))]

filtered_data = filter_data(jeopardy, ["King", "England"])
print(filtered_data)

        Show Number    Air Date             Round  \
4953           3003  1997-09-24  Double Jeopardy!
14912          2832  1996-12-17         Jeopardy!
21511          4650  2004-11-19         Jeopardy!
23810          4862  2005-11-01         Jeopardy!
27555          1799  1992-05-28  Double Jeopardy!
33294          5589  2008-12-18         Jeopardy!
41148          5925  2010-05-21  Double Jeopardy!
41357          2751  1996-07-15         Jeopardy!
43122          3937  2001-10-16  Double Jeopardy!
47814          4365  2003-07-18  Double Jeopardy!
49994          5499  2008-07-03         Jeopardy!
51115          3574  2000-03-02         Jeopardy!
51565          4264  2003-02-27  Double Jeopardy!
56600          3533  2000-01-05  Double Jeopardy!
57516          4299  2003-04-17  Double Jeopardy!
58949          6250  2011-11-18  Double Jeopardy!
71808          5270  2007-07-06         Jeopardy!
74235          2757  1996-09-03         Jeopardy!
77195          3656  2000-06-26         Jeopardy!
79457          4230  2003-01-10  Double Jeopardy!
80113          5827  2010-01-05         Jeopardy!
84639          1558  1991-05-15         Jeopardy!
86412          1837  1992-09-08  Double Jeopardy!
89710          5390  2008-02-01  Double Jeopardy!
111926         1331  1990-05-21         Jeopardy!
118809         1905  1992-12-11         Jeopardy!
123299         4656  2004-11-29         Jeopardy!
123671         5718  2009-06-17         Jeopardy!
125822         4042  2002-03-12  Double Jeopardy!
127484         1325  1990-05-11  Double Jeopardy!
127758         6021  2010-11-15         Jeopardy!
129106         4906  2006-01-02  Double Jeopardy!
130208         5222  2007-05-01         Jeopardy!
137818         3368  1999-04-07         Jeopardy!
143434         1882  1992-11-10  Double Jeopardy!
150880         4790  2005-06-03  Double Jeopardy!
165110         4255  2003-02-14         Jeopardy!
165197         6272  2011-12-20  Double Jeopardy!
170007         5455  2008-05-02  Double Jeopardy!
174055         2143  1993-12-22  Double Jeopardy!
175259         3055  1997-12-05  Double Jeopardy!
183462         3099  1998-02-05   Final Jeopardy!
186239         5339  2007-11-22  Double Jeopardy!
187651         5264  2007-06-28         Jeopardy!
191579         5453  2008-04-30         Jeopardy!
192265         6292  2012-01-17  Double Jeopardy!
192966         6175  2011-06-17  Double Jeopardy!
194516         6114  2011-03-24  Double Jeopardy!
200369         2937  1997-05-13         Jeopardy!

                            Category   Value  \
4953                    "PH"UN WORDS    $200
14912                  WORLD HISTORY    $100
21511                     THE "O.C."   $1000
23810                  NAME THE YEAR    $400
27555               HISTORIC IN-LAWS    $600
33294            THE BAYEUX TAPESTRY    $600
41148                       TREATIES   $1600
41357                 HISTORIC NAMES    $400
43122                     OH, HENRY!    $400
47814                        POTIONS   $2000
49994                    REIGN DROPS   $1000
51115             ALL THINGS BRITISH    $200
51565             MUSIC APPRECIATION    $800
56600                 FRENCH HISTORY    $600
57516               THE "UN"CATEGORY   $2000
58949            ASSUME THE POSITION   $2000
71808        WHERE THERE'S A WILLIAM   $1000
74235                  WORLD HISTORY    $200
77195                        JUNE 26    $400
79457                     CONQUERORS    $800
80113                      "M" & "M"   $1000
84639              FILMS OF THE '90S    $200
86412                        ROYALTY    $400
89710                 "CAN"NED WORDS   $1600
111926                FILE UNDER "M"  $1,000
118809                KINGS & QUEENS    $300
123299                        CHAIRS    $400
123671          A YEAR ENDING IN '09   $1000
125822              PAINT IT "BLACK"  $5,000
127484               MEDIEVAL PEOPLE    $600
127758                   STATE FACTS    $600
129106            HISTORIC NICKNAMES   $2000
130208                       ROYALTY    $600
137818             PEOPLE IN HISTORY    $400
143434                           ART    $800
150880  20th CENTURY BRITISH HISTORY   $1200
165110                     HIGH COUP   $1000
165197           TOUCHED BY AN ANGEL   $2000
170007               THE SWEET 1600s   $1600
174055               HISTORIC PEOPLE    $200
175259                     THE 1930s    $400
183462                       ROYALTY    None
186239              EUROPEAN HISTORY    $800
187651   CAPITALS OF THE WEST INDIES    $600
191579                       BATTLES    $800
192265    NORWAY'S CULTURE & HISTORY   $1600
192966                 HERO SANDWICH    $800
194516           THE YUCKS STOP HERE   $1600
200369               BRITISH HISTORY    $200

                                                                                                                                                                                                                                                                                                                                                        Question  \
4953                                                                                                                                                                                                                                                                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                          This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                               this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                       William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                         This member of the Medici family was the mother-in-law of England's King Charles I
33294               (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                  This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                   England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                     The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                 This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                     Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                               He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                            This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                       Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                      He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                    Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                   Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                        He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                            On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                              England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                          He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                       This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                          This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                 It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                          In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                   If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                            King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                            Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                              Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                            King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                  This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                      The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                              This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                     During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                      The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                     The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                              In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                          This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                        His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                          A capital in the West Indies is named for this family name of William of Orange, King of England

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [88]:
def filter_data(data, word_list):
    return data.loc[data["Question"].apply(lambda x: all(word.lower() in x.lower() for word in word_list))]

filtered_data = filter_data(jeopardy, ["King", "England"])
print(len(filtered_data))

152

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [94]:
def to_float(word):
    num_list = [str(x) for x in range(0,10)]
    num = ""
    value = str(word)
    for letter in value:
        if letter in num_list:
            num += letter
        
    if num == "":
        num = "NaN"
    return float(num)
    
jeopardy["Float_Value"] = jeopardy["Value"].apply(lambda x: to_float(x))
filtered = filter_data(jeopardy, ["King"])
print(filtered["Float_Value"].head(10))
print(filtered["Float_Value"].mean())

34      400.0
40     1200.0
50     2000.0
56      200.0
72      600.0
113    2000.0
177     100.0
224     800.0
241     200.0
321    1000.0
Name: Float_Value, dtype: float64
785.668910564638

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [100]:
unique_answer = filtered["Answer"].unique()
print(unique_answer)

['oratory' 'Yertle' 'Bartholomew Cubbins' ...
 'a pyramid (the pyramids accepted)' '(Martin) Yan' 'work']

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.